In [1]:
import pandas as pd

In [3]:
raw_data = {"Name": ['Jagras', 'Barroth','Rathian','Diablos'],
            "Evolution": ['Great Jagras','Brute Barroth','Red Rathian','Black Diablos'],
            "Type": ['water', 'none', 'fire', 'none'],
            "Hp": [40, 45, 58, 55],
            "Place": ['Great Forest', 'Wildspire Waste','Ancient Forest','Desert']}

In [5]:
monsterhunter = pd.DataFrame(raw_data)
monsterhunter.head()

      Name      Evolution   Type  Hp            Place
0   Jagras   Great Jagras  water  40     Great Forest
1  Barroth  Brute Barroth   none  45  Wildspire Waste
2  Rathian    Red Rathian   fire  58   Ancient Forest
3  Diablos  Black Diablos   none  55           Desert

In [9]:
monster = monsterhunter[['Name', 'Type', 'Hp', 'Evolution','Place']]
monster

      Name   Type  Hp      Evolution            Place
0   Jagras  water  40   Great Jagras     Great Forest
1  Barroth   none  45  Brute Barroth  Wildspire Waste
2  Rathian   fire  58    Red Rathian   Ancient Forest
3  Diablos   none  55  Black Diablos           Desert

In [10]:
#Add another column called place, and insert what you have in mind#

monster['Rank'] = ['low','medium','high','high']
monster

/var/folders/x0/l5zrfvbj2tl6s7bjqz24dchr0000gn/T/ipykernel_21291/1026627548.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monster['Rank'] = ['low','medium','high','high']

      Name   Type  Hp      Evolution            Place    Rank
0   Jagras  water  40   Great Jagras     Great Forest     low
1  Barroth   none  45  Brute Barroth  Wildspire Waste  medium
2  Rathian   fire  58    Red Rathian   Ancient Forest    high
3  Diablos   none  55  Black Diablos           Desert    high

In [11]:
#Present the type of each column#

monster.dtypes

Name         object
Type         object
Hp            int64
Evolution    object
Place        object
Rank         object
dtype: object