In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chip = pd.read_csv(url, sep = '\t')

In [3]:
chip.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#How many products cost more than $10.00?#

chip.dtypes

chip['int_item_prc'] = chip.item_price.str.strip('$')
chip['int_item_prc'] = chip['int_item_prc'].astype(float)
chip.dtypes

ten_doll = chip.copy()
ten_doll.drop_duplicates(subset = ['item_name', 'quantity'], inplace= True)

len(set(ten_doll[(ten_doll['quantity'] == 1) & (ten_doll['int_item_prc']> 10)]['item_name']))

12

In [5]:
#What is the price of each item?#

chip[(chip['item_name'] == 'Chicken Bowl') & (chip['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price,int_item_prc
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75

In [6]:
#Sort item by name#

chip.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [7]:
#What was the quantity of the most expensice item ordered?#

chip.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,int_item_prc
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39,9.39

In [8]:
#How many times was a Veggie Soft Taco ordered?#

chip_taco = chip[chip.item_name == "Veggie Soft Tacos"]

len(chip_taco)

7

In [9]:
#How many times did someone order more than one Canned Soda?#

chip_drink_steak_bowl = chip[(chip.item_name == "Canned Soda") & (chip.quantity > 1)]
len(chip_drink_steak_bowl)

20